<a href="https://colab.research.google.com/github/Jnfagundes/EstudoUNOPAR/blob/main/AnaliseDeDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas 
# Instalação da biblioteca pandas.

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd # Aqui estamos importando a biblioteca
pd.Series(data=5) #Aqui estou criando uma serie indice 0 recebendo o valor 5
lista_nomes = 'José Nilton do Nascimento Fagundes'.split()
pd.Series(lista_nomes) #Criação de uma serie com nomes

0          José
1        Nilton
2            do
3    Nascimento
4      Fagundes
dtype: object

In [4]:
dados = {
    'nome1': 'José',
    'nome2': 'Nilton',
    'nome3':'Nascimento',
    'nome4': 'Fagundes',
}
pd.Series(dados) #Cria uma serie com um dicionário

nome1          José
nome2        Nilton
nome3    Nascimento
nome4      Fagundes
dtype: object

In [6]:
cpf = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split()
pd.Series(lista_nomes, index=cpf ) # Criação de uma serie com rótulos

111.111.111-11          José
222.222.222-22        Nilton
333.333.333-33            do
444.444.444-44    Nascimento
555.555.555-55      Fagundes
dtype: object

In [8]:
series_dados = pd.Series(lista_nomes, index=cpf) # Aqui está sendo criado uma variável que recebe uma serie com rótulo
series_dados.loc['111.111.111-11'] # loc[] é usado para buscar um dado com o rótulo

'José'

In [19]:
series_dados = pd.Series([10.2, -1, 'nome', 15, 23.4])
print('Quantidade de linhas= ', series_dados.shape) #Retorna uma tupla com o número de linhas
print('Tipo de dados = ', series_dados.dtype) #Retorna o tipo de dados. Quando misto será object
print('Os valores são únicos? ', series_dados.is_unique) #Verifica se os valores são únicos
print('Existem valores nulos? ', series_dados.hasnans) #Verifica se existe valores nulos
print('Quantos valores existem? ', series_dados.count()) #Conta quantos valores existem excluindo-se os nulos

# print('Qual o menor valor? ', series_dados.min()) #Extrai o menor valor da serie, sendo os dados do mesmo tipo
#print('Qual o maior valor?', series_dados.max())
#print('Qual a média aritmética? ', series_dados.mean())
#print('Qual o desvio padrão', series_dados.std())
#print('Qual a mediana? ', series_dados.median())

print('\nResumo: \n', series_dados.describe())

Quantidade de linhas=  (5,)
Tipo de dados =  object
Os valores são únicos?  True
Existem valores nulos?  False
Quantos valores existem?  5

Resumo:
 count        5
unique       5
top       nome
freq         1
dtype: object

In [25]:
lista_nomes = 'José Nilton do Nascimento Fagundes'.split()
cpf = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split()
lista_emails = 'jas@outlook.com fagun@outlook.com jasf@outlook.com fasmusi@outlook.com jasfagundes@outlook.com'.split()
lista_idades = [33, 37, 34, 35, 38]
pd.DataFrame(lista_nomes, columns=['nomes']) # Cria um DataFrame com o título "nome"

        nomes
0        José
1      Nilton
2          do
3  Nascimento
4    Fagundes

In [26]:
pd.DataFrame(lista_nomes, columns=['nomes'], index=cpf) #Cria um DataFrame com nomes e cpf

                     nomes
111.111.111-11        José
222.222.222-22      Nilton
333.333.333-33          do
444.444.444-44  Nascimento
555.555.555-55    Fagundes

In [27]:
dados = list(zip(lista_nomes, lista_emails, cpf, lista_idades)) #Cria uma lista de tuplas
pd.DataFrame(dados, columns=['nome','e-mails', 'cpf', 'idades'])

         nome                  e-mails             cpf  idades
0        José          jas@outlook.com  111.111.111-11      33
1      Nilton        fagun@outlook.com  222.222.222-22      37
2          do         jasf@outlook.com  333.333.333-33      34
3  Nascimento      fasmusi@outlook.com  444.444.444-44      35
4    Fagundes  jasfagundes@outlook.com  555.555.555-55      38

In [28]:
dados = {
    'nomes': 'José Nilton do Nascimento Fagundes'.split(),
    'cpf': '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split(),
    'emails': 'jas@outlook.com fagun@outlook.com jasf@outlook.com fasmusi@outlook.com jasfagundes@outlook.com'.split(),
    'idades': [33, 37, 34, 35, 38],

}

pd.DataFrame(dados)

        nomes             cpf                   emails  idades
0        José  111.111.111-11          jas@outlook.com      33
1      Nilton  222.222.222-22        fagun@outlook.com      37
2          do  333.333.333-33         jasf@outlook.com      34
3  Nascimento  444.444.444-44      fasmusi@outlook.com      35
4    Fagundes  555.555.555-55  jasfagundes@outlook.com      38

In [29]:
df_dados = pd.DataFrame(dados)
print('\nInformações de DataFrame:\n')
print(df_dados.info()) # Mostra informações sobre o df_dados

Informações de DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nomes   5 non-null      object
 1   cpf     5 non-null      object
 2   emails  5 non-null      object
 3   idades  5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

In [31]:
df_uma_coluna = df_dados['idades']
print(type(df_uma_coluna))

print('Média de idade e: ', df_uma_coluna.mean())
df_uma_coluna

<class 'pandas.core.series.Series'>
Média de idade e:  35.4

0    33
1    37
2    34
3    35
4    38
Name: idades, dtype: int64

In [33]:
colunas = ['nomes', 'cpf']
df_duas_colunas = df_dados[colunas]
print(type(df_duas_colunas))
df_duas_colunas

<class 'pandas.core.frame.DataFrame'>

        nomes             cpf
0        José  111.111.111-11
1      Nilton  222.222.222-22
2          do  333.333.333-33
3  Nascimento  444.444.444-44
4    Fagundes  555.555.555-55

In [34]:
import requests # Biblioteca que pega a notícia e a transforma em uma única string
from bs4 import BeautifulSoup #Essa biblioteca converte uma string em HTML

texto_string = requests.get('https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html').text
print(texto_string[:100])

bsp_texto = BeautifulSoup(texto_string, 'html.parser')
lista_noticias = bsp_texto.find_all('span', attrs={'class':'short-desc'})

print(type(bsp_texto))
print(type(lista_noticias))
print(lista_noticias[5])

lista_noticias[5].contents


dados = [] #Criação de uma lista vazia

for noticia in lista_noticias: # Extrutura para percorrer cada notícia
    data = noticia.contents[0].text.strip() + ', 2017' # Dessa informação <strong>Jan. 25 </strong> vai extrair Jan. 25, 2017
    comentario = noticia.contents[1].strip().replace("“", '').replace("”", '')
    explicacao = noticia.contents[2].text.strip().replace("(", '').replace(")", '')
    url = noticia.find('a')['href']
    dados.append((data, comentario, explicacao, url))

dados[1]

df_noticias = pd.DataFrame(dados, columns=['data', 'comentário', 'explicação', 'url'])

print(df_noticias.shape)
print(df_noticias.dtypes)
df_noticias.head()

<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]> <!--><html lang="en" class="no-js page-interactive section
<class 'bs4.BeautifulSoup'>
<class 'bs4.element.ResultSet'>
<span class="short-desc"><strong>Jan. 25 </strong>“You had millions of people that now aren't insured anymore.” <span class="short-truth"><a href="https://www.nytimes.com/2017/03/13/us/politics/fact-check-trump-obamacare-health-care.html" target="_blank">(The real number is less than 1 million, according to the Urban Institute.)</a></span></span>
(180, 4)
data          object
comentário    object
explicação    object
url           object
dtype: object

            data  ...                                                url
0  Jan. 21, 2017  ...  https://www.buzzfeed.com/andrewkaczynski/in-20...
1  Jan. 21, 2017  ...  http://nation.time.com/2013/11/06/10-things-yo...
2  Jan. 23, 2017  ...  https://www.nytimes.com/2017/01/23/us/politics...
3  Jan. 25, 2017  ...  https://www.nytimes.com/2017/01/21/us/politics...
4  Jan. 25, 2017  ...  https://www.nytimes.com/2017/01/24/us/politics...

[5 rows x 4 columns]

In [35]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

df_bancos = dfs[0]

print(df_bancos.shape)
print(df_bancos.dtypes)

df_bancos.head()

ValueError: ignored