<a href="https://colab.research.google.com/github/Jnfagundes/EstudoUNOPAR/blob/main/Introdu%C3%A7%C3%A3o_biblioteca_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Series

In [2]:
# Dentre todos os parâmetros esperados, somente um é obrigatório para se criar uma serie com dados. data=XXXX
pd.Series(data=5)

0    5
dtype: int64

In [5]:
lista_nomes = 'José Nilton  Nascimento Fagundes'.split()
pd.Series(lista_nomes) # Cria uma serie com uma lista de nomes

0          José
1        Nilton
2    Nascimento
3      Fagundes
dtype: object

In [4]:
dados = {
    'nome1': 'José',
    'nome2': 'Nilton',
    'nome3': 'Nascimento',
    'nome4': 'Fagundes',
}
pd.Series(dados) # Cria uma serie com um dicionário, sua chave é usada como indice.

nome1          José
nome2        Nilton
nome3    Nascimento
nome4      Fagundes
dtype: object

In [15]:
cpfs = '111.111.111-11 222.222.222.22 333.333.333.33 444.444.444.44'.split() 

series_dados = pd.Series(lista_nomes, index = cpfs) # Aqui estamos criando uma serie e definindo cpfs como indice
print(series_dados)

111.111.111-11          José
222.222.222.22        Nilton
333.333.333.33    Nascimento
444.444.444.44      Fagundes
dtype: object

In [13]:
series_dados.loc['333.333.333.33'] # Aqui estamos buscando informações com um rótulo definido

'Nascimento'

In [16]:
series_dados = pd.Series([10.2, -1, None, 15, 23.4])

print('Quantidade de linhas = ', series_dados.shape) # Retorna uma tupla com o número de linhas
print('Tipo de dados', series_dados.dtypes) # Retorna o tipo de dados, se for misto será object
print('Os valores são únicos?', series_dados.is_unique) # Verifica se os valores são únicos (sem duplicações)
print('Existem valores nulos?', series_dados.hasnans) # Verifica se existem valores nulos
print('Quantos valores existem?', series_dados.count()) # Conta quantas valores existem (excluí os nulos)

print('Qual o menor valor?', series_dados.min()) # Extrai o menor valor da Series (nesse caso os dados precisam ser do mesmo tipo)
print('Qual o maior valor?', series_dados.max()) # Extrai o valor máximo, com a mesma condição do mínimo
print('Qual a média aritmética?', series_dados.mean()) # Extrai a média aritmética de uma Series numérica
print('Qual o desvio padrão?', series_dados.std()) # Extrai o desvio padrão de uma Series numérica
print('Qual a mediana?', series_dados.median()) # Extrai a mediana de uma Series numérica

print('\nResumo:\n', series_dados.describe()) # Exibe um resumo sobre os dados na Series

Quantidade de linhas =  (5,)
Tipo de dados float64
Os valores são únicos? True
Existem valores nulos? True
Quantos valores existem? 4
Qual o menor valor? -1.0
Qual o maior valor? 23.4
Qual a média aritmética? 11.899999999999999
Qual o desvio padrão? 10.184301645179211
Qual a mediana? 12.6

Resumo:
 count     4.000000
mean     11.900000
std      10.184302
min      -1.000000
25%       7.400000
50%      12.600000
75%      17.100000
max      23.400000
dtype: float64

DataFrame com lista

In [17]:

lista_nomes = 'Howard Ian Peter Jonah Kellie'.split()
lista_cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split()
lista_emails = 'risus.varius@dictumPhasellusin.ca Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org eget.dictum.placerat@necluctus.co.uk'.split()
lista_idades = [32, 22, 25, 29, 38]

In [18]:
pd.DataFrame(lista_nomes, columns=['nome']) # Como não definimos indices é criado um range.

     nome
0  Howard
1     Ian
2   Peter
3   Jonah
4  Kellie

In [19]:
pd.DataFrame(lista_nomes, columns=['nome'], index=lista_cpfs) # Definimos lista_cpfs como indices

                  nome
111.111.111-11  Howard
222.222.222-22     Ian
333.333.333-33   Peter
444.444.444-44   Jonah
555.555.555-55  Kellie

In [20]:
dados = list(zip(lista_nomes, lista_cpfs, lista_idades, lista_emails)) # cria uma lista de tuplas

pd.DataFrame(dados, columns=['nome', 'cpfs', 'idade', 'email'])

     nome            cpfs  idade                                 email
0  Howard  111.111.111-11     32     risus.varius@dictumPhasellusin.ca
1     Ian  222.222.222-22     22                     Nunc@vulputate.ca
2   Peter  333.333.333-33     25           fames.ac.turpis@cursusa.org
3   Jonah  444.444.444-44     29              non@felisullamcorper.org
4  Kellie  555.555.555-55     38  eget.dictum.placerat@necluctus.co.uk

DataFrame com dicionário

In [21]:
dados = {
    'nomes': 'Howard Ian Peter Jonah Kellie'.split(),
    'cpfs' : '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 555.555.555-55'.split(),
    'emails' : 'risus.varius@dictumPhasellusin.ca Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org eget.dictum.placerat@necluctus.co.uk'.split(),
    'idades' : [32, 22, 25, 29, 38]
}

pd.DataFrame(dados)

    nomes            cpfs                                emails  idades
0  Howard  111.111.111-11     risus.varius@dictumPhasellusin.ca      32
1     Ian  222.222.222-22                     Nunc@vulputate.ca      22
2   Peter  333.333.333-33           fames.ac.turpis@cursusa.org      25
3   Jonah  444.444.444-44              non@felisullamcorper.org      29
4  Kellie  555.555.555-55  eget.dictum.placerat@necluctus.co.uk      38

In [22]:

df_dados = pd.DataFrame(dados)

print('\nInformações do DataFrame:\n')
print(df_dados.info()) # Apresenta informações sobre a estrutura do DF

print('\nQuantidade de linhas e colunas = ', df_dados.shape) # Retorna uma tupla com o número de linhas e colunas
print('\nTipo de dados:\n', df_dados.dtypes) # Retorna o tipo de dados, para cada coluna, se for misto será object

print('\nQual o menor valor de cada coluna?\n', df_dados.min()) # Extrai o menor de cada coluna 
print('\nQual o maior valor?\n', df_dados.max()) # Extrai o valor máximo e cada coluna 
print('\nQual a média aritmética?\n', df_dados.mean()) # Extrai a média aritmética de cada coluna numérica
print('\nQual o desvio padrão?\n', df_dados.std()) # Extrai o desvio padrão de cada coluna numérica
print('\nQual a mediana?\n', df_dados.median()) # Extrai a mediana de cada coluna numérica

print('\nResumo:\n', df_dados.describe()) # Exibe um resumo

df_dados.head() # Exibe os 5 primeiros registros do DataFrame

Informações do DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nomes   5 non-null      object
 1   cpfs    5 non-null      object
 2   emails  5 non-null      object
 3   idades  5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

Quantidade de linhas e colunas =  (5, 4)

Tipo de dados:
 nomes     object
cpfs      object
emails    object
idades     int64
dtype: object

Qual o menor valor de cada coluna?
 nomes                Howard
cpfs         111.111.111-11
emails    Nunc@vulputate.ca
idades                   22
dtype: object

Qual o maior valor?
 nomes                                 Peter
cpfs                         555.555.555-55
emails    risus.varius@dictumPhasellusin.ca
idades                                   38
dtype: object

Qual a média aritmética?
 idades    29.2
dtype: float64

Qual o desvio padrão?
 idades    6.220932
dtype: float64

Qual a mediana?
 idades    29.0
dtype: float64

Resumo:
           idades
count   5.000000
mean   29.200000
std     6.220932
min    22.000000
25%    25.000000
50%    29.000000
75%    32.000000
max    38.000000

    nomes            cpfs                                emails  idades
0  Howard  111.111.111-11     risus.varius@dictumPhasellusin.ca      32
1     Ian  222.222.222-22                     Nunc@vulputate.ca      22
2   Peter  333.333.333-33           fames.ac.turpis@cursusa.org      25
3   Jonah  444.444.444-44              non@felisullamcorper.org      29
4  Kellie  555.555.555-55  eget.dictum.placerat@necluctus.co.uk      38

Seleção de colunas em um dataFrame

In [23]:

df_uma_coluna = df_dados['idades']
print(type(df_uma_coluna))

print('Média de idades = ', df_uma_coluna.mean())

df_uma_coluna

<class 'pandas.core.series.Series'>
Média de idades =  29.2

0    32
1    22
2    25
3    29
4    38
Name: idades, dtype: int64

In [24]:

colunas = ['nomes', 'cpfs']
df_duas_colunas = df_dados[colunas]
print(type(df_duas_colunas))
df_duas_colunas

<class 'pandas.core.frame.DataFrame'>

    nomes            cpfs
0  Howard  111.111.111-11
1     Ian  222.222.222-22
2   Peter  333.333.333-33
3   Jonah  444.444.444-44
4  Kellie  555.555.555-55

In [25]:

import requests

texto_string = requests.get('https://www.nytimes.com/interactive/2017/06/23/opinion/trumps-lies.html').text
print(texto_string[:100])

<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]> <!--><html lang="en" class="no-js page-interactive section

In [26]:

from bs4 import BeautifulSoup

bsp_texto = BeautifulSoup(texto_string, 'html.parser')
lista_noticias = bsp_texto.find_all('span', attrs={'class':'short-desc'})

print(type(bsp_texto))
print(type(lista_noticias))
print(lista_noticias[5])

lista_noticias[5].contents

<class 'bs4.BeautifulSoup'>
<class 'bs4.element.ResultSet'>
<span class="short-desc"><strong>Jan. 25 </strong>“You had millions of people that now aren't insured anymore.” <span class="short-truth"><a href="https://www.nytimes.com/2017/03/13/us/politics/fact-check-trump-obamacare-health-care.html" target="_blank">(The real number is less than 1 million, according to the Urban Institute.)</a></span></span>

[<strong>Jan. 25 </strong>,
 "“You had millions of people that now aren't insured anymore.” ",
 <span class="short-truth"><a href="https://www.nytimes.com/2017/03/13/us/politics/fact-check-trump-obamacare-health-care.html" target="_blank">(The real number is less than 1 million, according to the Urban Institute.)</a></span>]

In [27]:

dados = [] # Criação de uma lista vazia

for noticia in lista_noticias:
    data = noticia.contents[0].text.strip() + ', 2017' # Dessa informação <strong>Jan. 25 </strong> vai extrair Jan. 25, 2017
    comentario = noticia.contents[1].strip().replace("“", '').replace("”", '')
    explicacao = noticia.contents[2].text.strip().replace("(", '').replace(")", '')
    url = noticia.find('a')['href']
    dados.append((data, comentario, explicacao, url))

dados[1]

('Jan. 21, 2017',
 'A reporter for Time magazine — and I have been on their cover 14 or 15 times. I think we have the all-time record in the history of Time magazine.',
 'Trump was on the cover 11 times and Nixon appeared 55 times.',
 'http://nation.time.com/2013/11/06/10-things-you-didnt-know-about-time/')

In [28]:

df_noticias = pd.DataFrame(dados, columns=['data', 'comentário', 'explicação', 'url'])

print(df_noticias.shape)
print(df_noticias.dtypes)
df_noticias.head()

(180, 4)
data          object
comentário    object
explicação    object
url           object
dtype: object

            data  ...                                                url
0  Jan. 21, 2017  ...  https://www.buzzfeed.com/andrewkaczynski/in-20...
1  Jan. 21, 2017  ...  http://nation.time.com/2013/11/06/10-things-yo...
2  Jan. 23, 2017  ...  https://www.nytimes.com/2017/01/23/us/politics...
3  Jan. 25, 2017  ...  https://www.nytimes.com/2017/01/21/us/politics...
4  Jan. 25, 2017  ...  https://www.nytimes.com/2017/01/24/us/politics...

[5 rows x 4 columns]

In [ ]:

url = 'https://ge.globo.com/futebol/brasileirao-serie-b/'
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

In [ ]:
df_bancos = dfs[0]

print(df_bancos.shape)
print(df_bancos.dtypes)

df_bancos.head()

Atividade Prática

In [34]:

from datetime import datetime

import requests
from bs4 import BeautifulSoup
import pandas as pd

texto_string = requests.get('https://globoesporte.globo.com/').text
hora_extracao = datetime.now().strftime("%d-%m-%Y %H:%M:%S")

bsp_texto = BeautifulSoup(texto_string, 'html.parser')
lista_noticias = bsp_texto.find_all('div', attrs={'class':'feed-post-body'})
print("Quantidade de manchetes = ", len(lista_noticias))
lista_noticias[0].contents

Quantidade de manchetes =  10

[<div class="feed-post-header"></div>,
 <div class="_label_event"><div class="feed-post-body-title gui-color-primary gui-color-hover "><div class="_ne"><a class="feed-post-link gui-color-primary gui-color-hover" href="https://interativos.globoesporte.globo.com/futebol/brasileirao-serie-a/chuta-ai/chuta-ai-os-artilheiros-dos-clubes-em-cada-edicao-do-brasileiro">⚽ CHUTA AÍ</a></div></div></div>,
 <div class="_label_event"><div class="feed-post-body-resumo">Você consegue adivinhar os maiores artilheiros dos clubes em uma só edição do Brasileirão? Chuta aí</div></div>,
 <div class="feed-media-wrapper"><div class="_label_event"><a class="feed-post-figure-link gui-image-hover" href="https://interativos.globoesporte.globo.com/futebol/brasileirao-serie-a/chuta-ai/chuta-ai-os-artilheiros-dos-clubes-em-cada-edicao-do-brasileiro"><div class="bstn-fd-item-cover "><picture class="bstn-fd-cover-picture"><img class="bstn-fd-picture-image" loading="lazy" src="https://s2.glbimg.com/Nsxosi1ch15y4fFQT0ZcesO1S0I=/0x0:1080x608/540x304/smart/filters:max_age(3600)/https://s3.glbimg.com/v1/AUTH_08fb001c60b847468664307c11fa9dc9/public/2021/5/FXrfjueqmRbuFFZOpHv1.jpg" srcset="https://s2.glbimg.com/Nsxosi1ch15y4fFQT0ZcesO1S0I=/0x0:1080x608/540x304/smart/filters:max_age(3600)/https://s3.glbimg.com/v1/AUTH_08fb001c60b847468664307c11fa9dc9/public/2021/5/FXrfjueqmRbuFFZOpHv1.jpg 1x,https://s2.glbimg.com/oD5nTu0tN357XS-FiIkF631QXJY=/0x0:1080x608/810x456/smart/filters:max_age(3600)/https://s3.glbimg.com/v1/AUTH_08fb001c60b847468664307c11fa9dc9/public/2021/5/FXrfjueqmRbuFFZOpHv1.jpg 1.5x,https://s2.glbimg.com/XRt5nDPrv07n6uIk3n3QIWR36YQ=/0x0:1080x608/1080x608/smart/filters:max_age(3600)/https://s3.glbimg.com/v1/AUTH_08fb001c60b847468664307c11fa9dc9/public/2021/5/FXrfjueqmRbuFFZOpHv1.jpg 2x"/></picture></div></a></div></div>,
 <div class="feed-post-metadata"><span class="feed-post-datetime">Há 37 minutos</span></div>]

In [35]:
lista_noticias[0].contents[1].text.replace('"',"")

'⚽ CHUTA AÍ'

In [36]:
lista_noticias[0].find('a').get('href')

'https://interativos.globoesporte.globo.com/futebol/brasileirao-serie-a/chuta-ai/chuta-ai-os-artilheiros-dos-clubes-em-cada-edicao-do-brasileiro'

In [37]:

descricao = lista_noticias[0].contents[2].text
if not descricao:
    descricao = noticia.find('div', attrs={'class': 'bstn-related'})
    descricao = descricao.text if descricao else None # Somente acessará a propriedade text caso tenha encontrado ("find")
descricao

'Você consegue adivinhar os maiores artilheiros dos clubes em uma só edição do Brasileirão? Chuta aí'

In [38]:

metadados = lista_noticias[0].find('div', attrs={'class':'feed-post-metadata'})

time_delta = metadados.find('span', attrs={'class': 'feed-post-datetime'})
secao = metadados.find('span', attrs={'class': 'feed-post-metadata-section'})

time_delta = time_delta.text if time_delta else None
secao = secao.text if secao else None
    
print('time_delta = ', time_delta)
print('seção = ', secao)

time_delta =  Há 37 minutos
seção =  None

In [39]:

dados = []

for noticia in lista_noticias:
    manchete = noticia.contents[1].text.replace('"',"")
    link = noticia.find('a').get('href')

    descricao = noticia.contents[2].text
    if not descricao:
        descricao = noticia.find('div', attrs={'class': 'bstn-related'})
        descricao = descricao.text if descricao else None

    metadados = noticia.find('div', attrs={'class':'feed-post-metadata'})
    time_delta = metadados.find('span', attrs={'class': 'feed-post-datetime'})
    secao = metadados.find('span', attrs={'class': 'feed-post-metadata-section'})

    time_delta = time_delta.text if time_delta else None
    secao = secao.text if secao else None

    dados.append((manchete, descricao, link, secao, hora_extracao, time_delta))

df = pd.DataFrame(dados, columns=['manchete', 'descrição', 'link', 'seção', 'hora_extração', 'time_delta'])
df.head()

                                            manchete  ...     time_delta
0                                         ⚽ CHUTA AÍ  ...  Há 37 minutos
1                                   A VOZ DA TORCIDA  ...     Há 2 horas
2                         PRIMEIRA RODADA DA SÉRIE B  ...  Há 26 minutos
3  Com um jogador a mais, Brasil de Pelotas press...  ...      Há 1 hora
4  Classificação às oitavas evidencia o domínio d...  ...      Há 1 hora

[5 rows x 6 columns]

Criando uma classe com o conteúdo

In [41]:
class ExtracaoPortal:
    def __init__(self):
        self.portal = None
    
    def extrair(self, portal):
        texto_string = requests.get('https://globoesporte.globo.com/').text
        hora_extracao = datetime.now().strftime("%d-%m-%Y %H:%M:%S")

        bsp_texto = BeautifulSoup(texto_string, 'html.parser')
        lista_noticias = bsp_texto.find_all('div', attrs={'class':'feed-post-body'})
        
        dados = []

        for noticia in lista_noticias:
            manchete = noticia.contents[1].text.replace('"',"")
            link = noticia.find('a').get('href')

            descricao = noticia.contents[2].text
            if not descricao:
                descricao = noticia.find('div', attrs={'class': 'bstn-related'})
                descricao = descricao.text if descricao else None

            metadados = noticia.find('div', attrs={'class':'feed-post-metadata'})
            time_delta = metadados.find('span', attrs={'class': 'feed-post-datetime'})
            secao = metadados.find('span', attrs={'class': 'feed-post-metadata-section'})

            time_delta = time_delta.text if time_delta else None
            secao = secao.text if secao else None

            dados.append((manchete, descricao, link, secao, hora_extracao, time_delta))

        df = pd.DataFrame(dados, columns=['manchete', 'descrição', 'link', 'seção', 'hora_extração', 'time_delta'])
        return df

Instanciando a classe

In [42]:
df = ExtracaoPortal().extrair("https://globoesporte.globo.com/")
df.head()

                                            manchete  ...     time_delta
0                                         ⚽ CHUTA AÍ  ...  Há 45 minutos
1                                   A VOZ DA TORCIDA  ...     Há 2 horas
2                         PRIMEIRA RODADA DA SÉRIE B  ...  Há 34 minutos
3  Com um jogador a mais, Brasil de Pelotas press...  ...      Há 1 hora
4  Classificação às oitavas evidencia o domínio d...  ...     Há 2 horas

[5 rows x 6 columns]